@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  background-color: #292b2c;
}

ul {
  list-style: none;
}

.coinlist-image {
  width: 50px;
}

.coinlist-item {
  display: flex;
}

.coinsummary {
  border-color: white !important;
  border-style: outset !important;
}

.coin-data-category {
  font-size: 10px;
}

.delete-icon {
  display: none;
  position: absolute;
  right: 6px;
}

.coin:hover .delete-icon {
  display: block;
}

.heading{
  display: flex;
  color: white;
  justify-content: center;
  padding-bottom: 1rem;
}

.details-loading{
  color:white
}